/* General */
.image-importer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
}
.image-importer h2{
  margin: 0px !important;
  padding: 10px 0px 5px 0px;
  border-bottom: 1px solid var(--background-modifier-border);
  width: 100%;
}
.image-importer input{
  border: 1px solid var(--background-modifier-border) !important;
}
.image-importer select{
  padding: 10px auto;
  text-align: center;
  text-align-last: center;
}
.image-importer select option{
  padding: 10px auto;
  text-align: center;
}
.buttons-group{
  display: flex;
  gap: 8px;
  justify-content: flex-end;
  align-items: center;
  align-self: flex-end;
  margin-top: 5px;
}
.image-importer input:-webkit-autofill,
.image-importer input:-webkit-autofill:focus,
.image-importer input:-webkit-autofill:hover {
    appearance: auto !important;
    background-image: none !important;
    background-color: white !important;
    color: var(--text-normal, FieldText) !important;
    -webkit-text-fill-color: var(--text-normal, FieldText) !important;
    box-shadow: inset 0 0 0 999px white !important;
}
/* Modal */
.image-importer .image-importer-modal{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  gap: 10px;
}
.image-importer-modal label{
  min-width: max-content;
}
/* Modal - Primary Components */
.image-importer h1.modal-title {
  margin: 0px !important;
  padding: 0px 0px 10px 0px;
  border: none;
  width: 100%;
  font-size: 1.25rem;
}
.image-importer .modal-item{
  display: flex;
  flex-direction: column;
  gap: 5px;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
}
.image-importer .modal-item-row{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  gap: 20px;
}
.image-importer .image-importer-modal h2{
  font-size: 1rem;
}
.image-importer .image-importer-modal .wide-input{
  width: 100%;
}
.image-importer .primary-button{
  background-color: var(--interactive-accent);
  color: var(--text-on-accent);
}
.image-importer .primary-button:hover{
  background-color: var(--interactive-accent-hover);
  color: var(--text-normal);
}
/* Modal - Secondary Components */
/* Modal - Secondary Components: Image */
.image-importer .preview-image {
  display: block;
  max-width: 100%;
  max-height: 190px;
  align-self: center;
  border-radius: 6px;
}
.image-importer .preview-placeholder {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 190px;
  background-color: var(--background-secondary);
  color: var(--text-muted);
  font-size: 0.8rem;
  align-self: center;
  border-radius: 6px;
}

/* Settings */
.image-importer .setting-item{
  border: none !important;
  display: flex;
  gap: 1px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
}
.image-importer .setting-item-description{
  margin: 0px;
}
.setting-item-header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  gap: 60px;
}
.setting-item-header-text{
  display: flex;
  gap: 0.5px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
.predefined-folders {
  margin: 10px 0px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
}
.predefined-folder{
  display: flex;
  flex-direction: column;
  padding: 10px;
  gap: 5px;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  border: 1px solid var(--background-modifier-border);
  border-radius: 4px;
}
.predefined-folder-field{
  display: flex;
  flex-direction: column;
  gap: 1.5px;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
}
.predefined-folder-field-input{
  width: 100%;
}
.predefined-folder-checkboxes{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  width: 100%;
}
.note-creation-checkbox {
  display: flex;
  align-items: center;
  gap: 4px;
}
.predefined-folder-select{
  margin-top: 10px;
  width: 100%;
}
.default-destination-folder-select{
  margin-top: 10px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}
.default-destination-folder-select input{
  width: 100%;
}
.setting-item-buttons{
  align-self: flex-end;
}
.image-importer .save-warning{
  color: var(--color-red);
  font-size: 0.9rem;
}